<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "bootstrap.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body style = "height: 100vh;">
    <div class = "flex flex-column w-25 h-100 p-3 bg-secondary" style = "height: 100;">
        <div class = "mb-5 text-white">
            <h1>We are going to make this cool thing guys</h1>
        </div>
        <h3><a class = "btn btn-primary mb-1" href = "/backlog">Product backlog</a></h3>
        <h3><a class = "btn btn-primary mb-1" href = "/board">Sprint Board</a></h3>
    </div>
</body>
</html>