<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "bootstrap.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body style = "height: 100vh;">
    <div class="d-flex flex-column h-100 p-3 bg-secondary" style="height: 100; width: 15%;">
        <div class = "mb-5 text-white">
            <h1>Project Name</h1>
        </div>
        <a class="btn btn-success p-2 mb-1" href="/">Home</a>
        <a class="btn btn-primary p-2 mb-1" href="/board">Sprint Board</a>
    </div>

    <h1>We are going to make this cool cool thing guys</h1>
    
</body>
</html>